<?xml version="1.0"?>
<model>
  <name>aruco_tag_med</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Federica_Pirozzi</name>
    <email>federi.pirozzi@studenti.unina.it</email>
  </author>
  <description>Aruco tag model - ID 1: Medicines (Area 3)</description>
</model>